ul{
  list-style: none;
}
#side-panel {
  border: 2px black;
}

.blog-panel{
  margin-left: -50px;
  margin-right: 30px;
}

.vertical-line {
  border-left: 6px solid rgba(44, 44, 44, 0.651);
  height: 500px;
}

.brand-bar{
  background-color: rgba(0, 0, 0, 0.767);
}

.brand {
  color: aliceblue;
}

.side-images{
  height: 250px;
  width: 350px;
  margin-right: 50px;
  margin-left: -30px;
  margin-top: 30px;
}

.error{
  color: red;
}

.quote-img{
  align-items: center;
  margin-left: 100px;
  margin-top: 30px;
}